.main{
    height: 2030px;
    width: 100%;
    background-color:white;
}

.header{
    height: 180px;
    width: 100%;
    border: none;
    background-color:white;
}

.upper1{
    height:50px;
    width: 100%;
    border:none;
    background-color: #ffc221;
    border-top-left-radius:12px;
}
.margin1{
    height: 50px;
    width: 15%;
    border: none;
    background-color: #ffc221;
    float: left;
    border-top-left-radius: 12px;
}

.main1{
    height: 50px;
    width: 70%;
    border: none;
    background-color: #ffc221;
    float: left;
}

.social_icon{
    height: 50px;
    width: 25%;
    border: none;
    background-color: #ffc221;
    float: left;
}

.face{
    height: 50px;
    width: 25%;
    border: none;
    background-color: #ffc221;
    float: left;
}

.twitter{
    height: 50px;
    width: 25%;
    border: none;
    background-color: #ffc221;
    float: left;
}

.insta{
    height: 50px;
    width: 25%;
    border: none;
    background-color: #ffc221;
    float: left;
}

.in{
    height: 50px;
    width: 25%;
    border: nones;
    background-color: #ffc221;
    float: right;
}
.world{
    margin-top: -15px;
}

.margin_1{
    height: 50px;
    width: 43%;
    border: none;
    background-color: #ffc221;
    float: left;
}
.para1{
    height: 50px;
    width: 32%;
    border: none;
    background-color: #ffc221;
    float: right;
    text-align: center;
}

.margin2{
    height: 50px;
    width: 15%;
    border: none;
    background-color: #ffc221;
    float: right;  
}

.lower1{
    height: 130px;
    width: 100%;
    border: none;
    background-color: #ffc221;
}

.margin3{
    height: 130px;
    width: 15%;
    border: none;
    background-color: white;
    float: left;
}

.main2{
    height: 130px;
    width: 70%;
    border: none;
    background-color: white;
    float: left;
}

.icon{
    height: 130px;
    width: 25%;
    border: none;
    background-color: white;
    float: left;
}
.hello{
    margin-top: 25px;
    margin-left: -80px;
}

.hi{
    margin-top: 5px;
}


.upper2{
    height:40px;
    width: 100%;
    border:none;
    background-color: white;
}

.middle1{
    height: 46px;
    width: 100%;
    border:none;
    background-color: white;
}

.home{
    height: 46px;
    width: 9%;
    border: none;
    background-color: white;
    float: left;
    text-decoration: none;
    text-align: center;
    font-size: large;
    text-transform: capitalize;
    color: black;
}

.home:hover{
    color: #ffc221;
}

.login{
    background-color: white;
    border: none;
    float: right;
    height: 46px;
    width: 11%;
    margin-top: -7px;
}

.login1{
    background-color: #ffc221;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

.login2{
    text-decoration: none;
    text-transform: capitalize;
    font-size: medium;
    text-align: center;
    color: black;
}

.login2:hover{
    color: white;
}


.margin4{
    height: 130px;
    width: 15%;
    border: none;
    background-color: white;
    float: right;
}

.content{
    height: 750px;
    width: 100%;
    background-color:white;
    border: 0.1px solid white;
}

.upper10{
    height: 210px;
    width: 100%;
    background-color: #ffc221;
    border: 0.1px solid white;
}

.contact{
    height: 100px;
    width: 40%;
    background-color: #ffc221;
    border: 0.1px solid #ffc221;
    margin-top: 60px;
    margin-left: 30%;
}

.text10{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    font-weight: bolder;   
}

.lower10{
    height: 160px;
    width: 100%;
    background-color: white;
}

.text11{
    text-align: center;
    font-size: 27px;
    margin-top: 0px;
    padding-top: 60px;
}

.products{
    height: 1000px;
    width: 100%;
    background-color: white;
}
.margin11{
    height: 1000px;
    width: 14%;
    background-color: white;
    float: left;
}
.center1{
    height: 1000px;
    width: 72%;
    background-color:#ffffffbd;;
    float: left;
}
.hello1{
    height: 300px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}
.hello2{
    height: 300px;
    width: 100%;
    background-color: white;
    margin-top: 30px;
}
.hello3{
    height: 300px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

.product1{
    height: 300px;
    width: 23%;
    background-color: lightgray;
    float: left;
    margin-left: 15px;
     box-shadow: 10px 10px 10px gray;
}

.product1:hover{
    background-color: #ffc221;
}
.image1{
    height: 200px;
    width: 80%;
    background-color: lightgray;
    margin-top: 8px;
    margin-left: 10%;
}
.text12{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.text13{
    text-align: center;
    font-size: 27px;
    margin-top: -12px;
}
.text13:hover{
    color: white;
}
.product2{
    height: 300px;
    width: 23%;
    background-color:lightgray;
    float: right;
    margin-right: 23px;
    box-shadow: 10px 10px 10px gray;
}

.product2:hover{
    background-color: #ffc221;
}
.margin12{
    height: 1000px;
    width: 14%;
    background-color: white;
    float: right;
}

.footer{
    height: 500px;
    width: 100%;
    background-color: black;
}

.upper11{
    height: 450px;
    width: 100%;
    background-color:black;
}
.margin13{
    height: 450px;
    width: 13%;
    background-color:black;
    float: left;
}
.center2{
    height: 450px;
    width: 74%;
    background-color:black;
    float: left;
}
.margin15{
    height: 60px;
    width: 100%;
    background-color: black;
}
.icon1{
    height: 50px;
    width: 100%;
    background-color: black;
}
.margin16{
    height: 50px;
    width: 35%;
    background-color: black;
    float: left;
}
.icon2{
    height: 50px;
    width: 30%;
    background-color: black;
    float: left;
}
.facebook{
    height: 50px;
    width: 25%;
    background-color: black;
    float: left;
}
.facebook1{
    height: 50px;
    width: 25%;
    background-color:black;
    float: right;
}

.margin17{
    height: 50px;
    width: 35%;
    background-color: black;
    float:right;
}
.details{
    height: 340px;
    width: 100%;
    background-color:black;
}
.contact1{
    height: 340px;
    width: 25%;
    background-color:black;
    float: left;
}

.text21{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
}
.text22{
    margin-top: 0px;
    font-size: larger;
    margin-left: 10%;
    color: white;
    line-height: 25px;
}
.text23{
    margin-top: 0px;
    font-size: larger;
    margin-left: 10%;
    line-height: 0px;
    text-decoration: none;
    color: white;
}
.text23:hover{
    color: #ffc221;
}
.contact2{
    height: 340px;
    width: 25%;
    background-color:black;
    float: right;
}
.lower11{
    height: 50px;
    width: 100%;
    background-color: #ffc221;
}

.text18{
    text-align: center;
    font-size: x-large;
    margin-top: 0px;
    color: black;
    padding-top: 10px;
}

.text19{
    text-decoration: none;
    color:black;
}
.text19:hover{
    color: white;
}



